name: E2E Testing

on:
  workflow_dispatch:
    inputs:
      case:
        description: "E2E Case (all/entity/relationship)"
        required: false
        default: ""

env:
  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CYPRESS_AUTH_RESET_URL: "https://auth-api-dev.pathfinder.gov.bc.ca/test/reset"
  CYPRESS_DATA_RESET_URL: "https://data-reset-tool-dev.pathfinder.gov.bc.ca"
  CYPRESS_BCRS_DOMAIN: "https://dev.bcregistry.ca/business"

jobs:
  case:
    runs-on: ubuntu-20.04
    strategy:
      # when one test fails, DO NOT cancel the other
      # containers, because this will kill Cypress processes
      # leaving the Dashboard hanging ...
      # https://github.com/cypress-io/github-action/issues/48
      fail-fast: false
      matrix:
        # run 3 copies of the current job in parallel
        containers: [1]
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set Case Name
        run: |
          echo "CASE_NAME=${{ github.event.inputs.case }}" >> $GITHUB_ENV
          echo ${{env.CASE_NAME}}

      - name: Run Entity E2E test cases
        if: env.CASE_NAME == 'all' || env.CASE_NAME == 'entity'
        uses: cypress-io/github-action@v2
        continue-on-error: true
        with:
          record: true
          parallel: true
          spec: cypress/integration/entity/*.spec.js
          working-directory: ./e2e-testing
          group: entity

      - name: Run Relationship E2E test cases
        if: env.CASE_NAME == 'all' || env.CASE_NAME == 'relationship'
        uses: cypress-io/github-action@v2
        continue-on-error: true
        with:
          record: true
          parallel: true
          spec: cypress/integration/relationship/*.spec.js
          working-directory: ./e2e-testing
          group: relationship
